

.project__container{
    width: 1300px;
}
.project__title{
    color: #000;
    font-size: 30px;
    padding-bottom: 30px;
    opacity: 0.8;
}

.project__list{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 50px;
   padding-bottom: 50px;
}
.project__item{
    list-style: none;
    width: 620px;
    height: 400px;
    filter: brightness();
}
.project__title__name{
    color: #fff;
    font-size: 30px;
}
.project__text{
    width: 550px;
    font-size: 24px;
    color: #fff;
    line-height: 35px;
}
.project__img{
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
}
