

.exchange__container{
    width: 1300px;
}
.exchange__title{
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 26px;
    font-family: sans-serif;
}
.exchange__wrapper{
    width: 100%;
    padding-bottom: 50px;
}
.exchange__img{
    width: 25%;
    height: 100%;
}