
.header{
   background-image: url(/src/assets/img/build11.jpg ) ;
   background-size: 100%;
   background-repeat: no-repeat;
   filter: brightness(0.8);
   
}
.header__container{
  height: 700px;
}
.header__box{
   padding-top: 250px;
}
.header__title{
    font-size: 80px;
    color: #fff;
    width: 700px;
    line-height: 100px;
}
.header__text{
    font-size: 24px;
    padding: 40px 0px;
    color: #fff;
}
.header__link{
    font-size: 18px;
    border-radius: 20px;
    text-decoration: none;  
    color: #fff;
    border: 3px solid #fff;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .header__link:hover{
      background-color: #fff;
      color: #5e6379;
   }
.header__wrapper{
    width: 320px;
    display: flex;
    justify-content: space-between;
}
.header__btn{
    font-size: 18px;
    color: #fff;
    width: 150px;
    border-radius: 20px;
    border: 3px solid #fff;
    border: 0px;
}
