

.navbar{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 3;
}
.navbar__blue{
    background-color:#fce8bd;
}
.link__blue{
    color: black;
}
.link-transparent{
    color: #000;
}
.navbar__container{
    width: 1200px;
    height: 100px;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__list{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__item{
    list-style: none;
}
.navbar__link{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding-bottom: 6px ;
}
.navbar__link:hover{
    border-bottom: 2.5px solid #fff;
}
.navbar__select{
    font-size: 18px;
    border: 0;
    color: #fff;
    background-color: initial;
}
.navbar__option{
    background-color: black;
    border: 0;
    color: #fff;
    font-size: 16px;
}
.navbar__img{
    width: 100px;
}